<select class="nav select_page" ng-model="selectedItems" ng-change='go_to_page(item.name)' ng-options="item as item.name for item in {{ pages }} track by item.id" index="item.id">
    <option value="" >Услуги</option>
</select>

 
