<div id="footer_contacts" class="footer_contacts_container inline">
<!--google map-->
<div class="col-md-6 col-sm-12 location-map">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Location map</h2>
        </div>
        <div class="panel-body google-maps">
            <iframe 
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBIS4-oegEGACfe8uiWhPUxQmClJJA_sPU
                  &q=Crossfit+%26+Bike+Club/" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
<!--in socials-->
<div class="col-md-6  col-sm-12 contacts_container">
    <img class=" contact_logo inline" src="./images/logo_cbc.png">
    <div class="socials inline">
    <h3 style="margin-top: 0px;margin-bottom: 10px;">Присоединяйтесь</h3>
    <ul class=" social-menu">
        <li><a class="icon-facebook" href="#" rel="nofollow"><span style="padding-left: 30px;">facebook</span></a></li>
        <li><a class="icon-youtube"  href="#" rel="nofollow"><span style="padding-left: 30px;">youtube</span></a></li>
        <li><a class="icon-vk"       href="#" rel="nofollow"><span style="padding-left: 30px;">vk</span></a></li>
        <li class="divider"></li>
    </ul>
    
    <h3 style="margin-top: 0px;margin-bottom: 10px;">Звоните</h3>
    <p> (+38) 098 777 444</p>
    </div>
</div>
<!--phones-->
<div>
    
</div>

</div>
    




