<div ng-controller="ourDisciplinesCtrl as vm" >  
    <div id="trainings" class="inline_trainee_container col-xs-12 col-sm-6 col-md-4 col-lg-3 " ng-repeat="training in vm.trainings">
            <div class="training_img" 
                 style="background-image: url(.{{training.img_src}});"
>
            </div>
            <a class="training_caption" href="#">
              <h4>Узнать больше</h4>
            </a>
            <a class="participate " href="#"
               id="{{training.details_id}}"
               ng-click="vm.popupTrainingForm()">
              <h4>Участвовать</h4>
            </a>
    </div>
    
    <div class="col-lg-12 main_divider"></div>
</div>