<!--<div class="navbar"> -->
   
<div class="navbar-fixed-top">
    
    <div class="back-rectangle" >    
    </div>
        <div class="top-rectangle">
            <a href="/" class="navbar-brand"><img src="./images/logo_cbc.png"></a>
        </div>

        <div class="navbar mynavbar">
            <div class="navbar-header navbar">
                <button type="button" data-toggle="collapse" datatarget="#navbar-main" class="navbar-toggle" onclick="nav_btn_change_visibility('navbar-main')" > 
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
            </div>
            
            <div id="navbar-main" class="navbar-collapse collapse" ng-controller="navCtrl">
                <!--<navbar-select-list></navbar-select-list>-->
                <div class="nav navbar-nav nav_dropdown" ng-controller="dropdownCtrl">
                <dropdown-list> </dropdown-list>
                </div>
                <ul class="nav navbar-nav "> 
                    <li > <a href="/#/"  name="header_btn" onclick="scroll_to('trainings')" > Тренеровки  </a></li>
                    <li > <a href="/#/"  name="header_btn" onclick="scroll_to('our_services')">                 Интересно  </a></li>
                    <li > <a href="/#/"  name="header_btn" onclick="scroll_to('footer_contacts')">                 Контакты  </a></li>
                </ul>
                
            </div>  
        </div>
    
</div>
    

