.inline_services_container {
    margin-bottom: 0px;
    margin-top: 30px;
    height: 400px;
    background-color: #98c31e;
    position: relative;
    display: inline-block;
    width: 100%;
}

.service_picture_container {
    overflow: hidden;
}

.service_img {
    height: 400px;
    padding-top: 0px;
    float: right;
    border-radius: 0px;
}

.service_description {
    text-align: center;
    color: white;
    height: 400px;
    
}

.service_text_wrapper{
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #98c31e;
    display: inline-block
}

.servise_tips_list {
    float: left;
    display: block;
    width: 20%;
    margin-left: 5%;
}

.servise_tips_list li {
    text-align: left;
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: gray;
}

.s_tips_content {
    margin-left: 25%;
    width: 70%
}

.s_tips_content li {
    background-color: wheat;
    height: 50px;
    margin-left: 5%;
}

.inline_services_caption {
    background-color: transparent;
    color: black;
    border: 1px solid #222;
    position: absolute;
    right: 15%;
    bottom: 90px;
    left: 15%;  
}

.inline_services_caption:hover, :focus{
    color: #2sdf7c ;
    text-decoration: none;
}

.inline_services_list {
    background-color: transparent;
    color: white;
    text-align: right;
    border: 1px solid transparent;
    position: absolute;
    right: 10%;
    bottom: 290px;
    left: 50%;  
}