.navbar-fixed-top {
  position: fixed;
  top: 0px;
  border-width: 0 0 1px;
  background-color: #333;
  background-image: url(../images/backgrounds/3.jpg);
  background-repeat: repeat;
  height: 130px;
}

.top-rectangle-wrapper {
    height: 110px;
    overflow:visible;
}
.top-rectangle {
    background-color: #98c31e;
    height: 110px;
    width: 88%;
    margin-left: 6%;
    margin-top: 0px;
    position: relative;
    box-shadow: 7px 6px 15px #222323;
}

.back-rectangle {
    background-color: white;
    height: 110px;
    width: 92%;
    margin-left: 4%;
    margin-top: 20px;
    position: absolute;
    z-index: -99 !important;
}

.mynavbar  {
    margin-top: -50px;
    float: right;
    right: 10%;
    width: 75%;
    font-size: 18px;
}


.navbar-brand {
    margin-top: 15px;
    margin-left: 20px;
    padding: 0;
    width: 101px;
    height: 80px;
    color: #00B7FF;
    float: left;
}

.navbar-brand > img { 
    width: 100%;
    height: auto;
}

.nav.navbar-nav {
    list-style-type: none;
    margin: 0;
    
    padding: 0;
    float: right !important;
}

.navbar-nav > li {
    float: left;
    text-align: center;
}

.btn_nav_dropdown {
    color: #fff;
    background-color: #98c31e;
    border-radius: 0px;
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: inherit;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 0px solid transparent;

}

.btn_nav_dropdown:hover {
    background-color: #98c31e;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #0f283e;
    color: #0f283e;
}

.btn_nav_dropdown:hover.active, .btn_nav_dropdown > li > a:hover.focus  {
    border: 3px solid #0f283e;
    color: #0f283e;
    background-color: #0f283e;
    opacity: 0.85;
}

.btn_nav_dropdown:focus {
    color: #ffffff;
    border-bottom: 3px solid;
    border-bottom-color: #0f283e;
    background-color: #0f283e;
    opacity: 0.85;
}


.dropdown-menu > li > a{
    width: 100%;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}

.dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
    color: #0f283e;
    background-color: #98c31e;
}

.nav_menu {
    margin-top: 2px;
    margin-left: 10px;
    color: #ffffff !important;
    background-color: #0f283e;
    opacity: 0.85;
    border-bottom: none;
    border-left-width: 0px;
    border-top-width: 0px;
    padding: 5px 0px 5px 0px;
    font-size: inherit;
    border-radius: 0px;
}

.navbar-nav > li > a {
    padding: 10px 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    color: white;
    text-align: center;
}

.navbar-nav > li > a:hover {
    background-color: #98c31e;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #0f283e;
    color: #0f283e;
}

.navbar-nav > li > a:hover.active,.navbar-nav > li > a:hover.focus  {
    border: 3px solid #0f283e;
    color: #0f283e;
}

.navbar-nav > li > a:active, .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #0f283e;
    opacity: 0.80;
}

.navbar-nav .active{
    background-color: #98c31e;

}

.navbar-toggle{
    border: 1px solid white;
    margin-right: 25px;
}

.nav_dropdown {
    float: left;
    text-align: center;
    padding: 10px 15px;
    display: block;
}
