body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    margin: 5px;
    background-image: url(../images/backgrounds/6.jpg), url(../images/backgrounds/3.jpg), url(../images/backgrounds/2.jpg);
    background-repeat: repeat, repeat, repeat;
    background-color: #0f283e;
    outline: 0;
}

:focus {
    outline: 0 !important;
}


.row_my {
    display: table-row;
    height: 1px;
}

a {
  color: #00B7FF;
}

ul {
    padding-left: 0px;
}

.pull-right {
    position: absolute;
    right: 0px;
    left: auto;
}

.hidden {
    display: none;
}

.visible {
    display: run-in;
}




.list_type_none {
   list-style-type: none; 
}

@media (min-width: 768px) {
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
}



.btn {
  font-size: inherit;
}


.select_page {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #333;
    padding: 10px 15px;
    color: white;
    text-align: center;
    border: none;
}

.select_page:hover {
    background-color: #111;
}



.carousel_ {
    text-align: center;
}

.carousel_img {
    width: auto;
    height: 560px; 
    min-height: 350px; 
    margin: auto;
}


.main_slide {
    margin-top: 150px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; 
        overflow: hidden;
    }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.contacts_container {
    display: inline-block;
}

.inline {
    float:left; 
}



.footer_contacts_container {
    background-color: red;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    width: 100%;
    height: auto;
}
.contact_logo {
    width: 33%;
    height: auto;
    position: relative;
}
.socials {
    width: 48%;
    height: auto;
    position: relative;
    margin-left: 10px;
}

.social-menu {
    display: inline-block;
    /* margin: 0 64px 0 50px; */
    height: 38px;
    width: 100%;
    list-style-type: none;
    
}
.social-menu li a {
    display: inline-block;
    width: 38px;
    height: 38px;
    position: relative;
    padding: 10px 15px;
    right: 0;
    text-decoration: none;
    color: white;
}

.social-menu li a.icon-facebook {
    background-image: url(../images/soc_icons/facebook.png);
    background-size: cover;
}
.social-menu li a.icon-youtube {
    background-image: url(../images/soc_icons/YouTube.png);
    background-size: cover;
}
.social-menu li a.icon-vk {
    background-image: url(../images/soc_icons/vk.png);
    background-size: cover;
}

.social-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.main_divider {
    height: 5px;
    margin: 15px 0;
    overflow: visible;
    background-color: #ffffff;
    position: static;
}

.inline_trainee_container {
    margin-bottom: 0px;
    margin-top: 30px;
    height: 330px;
    background-color: #98c31e;
    position: relative;
    display: block;
}



.training_caption {
    background: transparent;
    color: black;
    border: 1px solid #222;
    position: absolute;
    right: 30%;
    bottom: 50px;
    left: 30%;  
    text-align: center;
    text-shadow: white 0 0 10px;
}

.training_caption:hover{
    background-image: url(../images/opacity_80_blue.png);
    color: #98c31e ;
    text-decoration: none;
    text-shadow: none;
}

.training_img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background: no-repeat;
}

.inline_trainee_container:hover .participate {
    position: absolute;
    background: transparent;
    color: black;
    border: 2px solid #222;
    border-radius: 5px;
    right: 30%;
    bottom: 200px;
    left: 30%;  
    text-align: center;
    display: inline-block;
}

.participate{
    display: none;
}

.participate:active, .participate:hover{
    color: greenyellow;
    border: 3px solid #222;
    text-decoration: none;
}
.participate:focus{
    color: greenyellow;
    border: 3px solid #222;
}

.footer {
    position: static;
    border: 3px solid #73AD21;
}

.datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
}


