/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2018, 7:53:15 PM
    Author     : Андрей
*/

.training_modal_container {
    border: 0px solid;
    border-radius: 0px;
}

/* change class name */
.modal-header {
    background-color: #98c31e;
    color: #ffffff;
}

.modal-body, .modal-footer{
    margin-top: 5px;
    background-color: #98c31e;
}

.training_modal_container .btn-primary {  
    color: #ffffff;
}

.training_modal_container .btn-default {
    background-color: #ffffff;
    color: #0f283e;
}

