
<div ng-controller="CarouselDemoCtrl" class="carousel_">
  <div class="row">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" >
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
        <img ng-src="{{slide.image}}" style="margin:auto;" class="carousel_img">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
