<div id="our_services" ng-controller="ourServicesCtrl" >
    <ul >
        
    <li class="list_type_none inline_services_container col-lg-12" ng-repeat="service in services">
        <div class="service_description col-lg-8 col-md-6 col-sm-12">
            <div class="service_text_wrapper">
                <h4>ВЕЛО-ТРЕНИРОВКА</h4>
                <ul class="servise_tips_list">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="s_tips_content">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 service_picture_container" >
            <div><img class="service_img" ng-src="{{service.img_src}}"></div>
            <a class="inline_services_caption" href="#">
              <h4>Slide {{service.id}}</h4>
              <p>{{service.name}}</p>
            </a> 
            <ul class="inline_services_list list_type_none">
                <li ng-repeat="feature in service.features">{{ feature }}</li>
                <li class="divider"></li>
            </ul>
        </div>
    </li>
    </ul>
    <div class="col-lg-12 main_divider"></div>
</div>