<navbar-generic></navbar-generic>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>Some text</p>
      </div>
    </div>

    <footer-generic></footer-generic>
</div>