<div class="modal-content training_modal_container">
  <form id="TrainingForm" name="Training_start" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Feel free to join {{ vm.trainingData.trainingName }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="form-group">
        <label for="name" class="col-xs-2 col-sm-2 control-label">Имя</label>
        <div class="col-xs-10 col-sm-10">
          <input id="name" name="name" required="required" ng-model="vm.formData.name" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Телефон</label>
        <div class="col-sm-10 col-lg-10">
            <input id="phone" name="phone" rows="1"  required="required" ng-model="vm.formData.phone" class="form-control"></input>
        </div>
      </div >
      <div class="form-group">
        <label for="training" class="col-sm-2 control-label">Тренировка</label>
        <div class="col-sm-10 col-lg-10">
            <input id="training" name="training" readonly="readonly" ng-value="vm.get_training_name()" required="required" ng-model="vm.formData.training" class="form-control" ></input>
        </div>
      </div>
      <!--<div class="form-group">
          <iframe src="https://calendar.google.com/calendar/embed?src=angrewbird%40gmail.com&ctz=Europe/Kiev" style="border: 1px solid greenyellow" background="green" width="80%" height="300" frameborder="0" scrolling="no"></iframe>
      </div>
      -->
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Back</button>
      <button type="submit" class="btn btn-primary ">Go</button>
    </div>
  </form>
</div>