<div ng-controller="DatepickerDemoCtrl">
    <p>Selected date is: {{dt | date:'fullDate' }}</p>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px; z-index: 1600 !important;">
      <div uib-datepicker ng-model="dt" class="well " datepicker-options="options"  ></div>
    </div>

    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
</div>