<navbar-generic> </navbar-generic>

<div class="container main_slide">
  <slide-carousel></slide-carousel>
  <services-inline-slides></services-inline-slides>
  <trainings-pages></trainings-pages>
  <contacts></contacts>
  <footer-generic></footer-generic>
</div>